<!DOCTYPE html>
<html>
<head>
  <title>PCMS</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="user_nav" class="dd" align="center">
<p class="heading"><img src="/assets/parabola-logo.png">Community and Messaging System</p>
</div>
<div class="breadcrumb">
<%= yield %>
</div>
<div id="user_nav" class="navbar-fixed-top">
  <% if current_user %>
    <h5 class="subheading">Logged in as <%= current_user.email %>.
    <%= link_to "Log out", log_out_path %></h5>
  <% else %>
   <!-- <%= link_to "Sign up", sign_up_path %> or
    <%= link_to "log in", log_in_path %>-->
  <% end %>


<% flash.each do |name, msg| %>
  <%= content_tag :div, msg, :id => "flash_#{name}" %>
<% end %>
</div>

</body>
</html>
